.bp-box {
  position: relative;
  width: 600px;
  margin: 0 auto;
  transform: scale(0.7) rotate(-5deg);
}

.bp-clip {
  width: 20px;
  height: 50px;
  border: solid 3px #666;
  border-width: 3px 3px 0 0;
  margin: auto;
  border-radius: 1000px 1000px 0 0;
  position: absolute;
  left: 162px;
  box-sizing: border-box;
  top: -35px;
}

.bp-clip:before {
  content: '';
  position: absolute;
  border: solid 3px #666;
  border-radius: 1000px 1000px 0 0;
  border-width: 3px 0 0 3px;
  top: -3px;
  right: 0;
  width: 100%;
  height: 150%;
  display: block;
  box-sizing: border-box;
  z-index: -2;
}

.bp-clip:after {
  content: '';
  position: absolute;
  border: solid 3px #666;
  border-radius: 0 0 1000px 1000px;
  border-width: 0 3px 3px;
  top: 40%;
  right: -3px;
  width: 80%;
  height: 140%;
  display: block;
  box-sizing: border-box;
  z-index: 1;
}

.bp-ticket {
  width: 600px;
  height: 250px;
  background: #ff0083;
  border-radius: 3px;
  box-shadow: 0 0 100px #aaa;
}

.bp-left,
.bp-right {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

.bp-left {
  left: -5px;
}

.bp-right {
  right: -5px;
}

.bp-left li,
.bp-right li {
  width: 0;
  height: 0;
}

.bp-left li:nth-child(-n + 2) {
  margin-top: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ff0083;
}

.bp-left li:nth-child(3),
.bp-left li:nth-child(6) {
  margin-top: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #eee;
}

.bp-left li:nth-child(4) {
  margin-top: 8px;
  margin-left: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #eee;
}

.bp-left li:nth-child(5) {
  margin-top: 8px;
  margin-left: -1px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #eee;
}

.bp-left li:nth-child(7),
.bp-left li:nth-child(9),
.bp-left li:nth-child(11),
.bp-left li:nth-child(12) {
  margin-top: 7px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #e5e5e5;
}

.bp-left li:nth-child(8) {
  margin-top: 7px;
  margin-left: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #e5e5e5;
}

.bp-left li:nth-child(10) {
  margin-top: 7px;
  margin-left: 1px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #e5e5e5;
}

.bp-left li:nth-child(13) {
  margin-top: 7px;
  margin-left: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ff0083;
}

.bp-left li:nth-child(14) {
  margin-top: 7px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ff0083;
}

.bp-right li:nth-child(-n + 2) {
  margin-top: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ff0083;
}

.bp-right li:nth-child(3),
.bp-right li:nth-child(4),
.bp-right li:nth-child(6) {
  margin-top: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #eee;
}

.bp-right li:nth-child(5) {
  margin-top: 8px;
  margin-left: -2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #eee;
}

.bp-right li:nth-child(8),
.bp-right li:nth-child(9),
.bp-right li:nth-child(11) {
  margin-top: 7px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #e5e5e5;
}

.bp-right li:nth-child(7) {
  margin-top: 7px;
  margin-left: -3px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #e5e5e5;
}

.bp-right li:nth-child(10) {
  margin-top: 7px;
  margin-left: -2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #e5e5e5;
}

.bp-right li:nth-child(12) {
  margin-top: 7px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #e5e5e5;
}

.bp-right li:nth-child(13),
.bp-right li:nth-child(14) {
  margin-top: 7px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ff0083;
}

.bp-ticket:after {
  content: '';
  position: absolute;
  right: 200px;
  top: 0;
  width: 2px;
  height: 250px;
  box-shadow:
    inset 0 0 0 #fff,
    inset 0 -10px 0 #999,
    inset 0 -20px 0 #ff0083,
    inset 0 -30px 0 #999,
    inset 0 -40px 0 #ff0083,
    inset 0 -50px 0 #999,
    inset 0 -60px 0 #e5e5e5,
    inset 0 -70px 0 #999,
    inset 0 -80px 0 #e5e5e5,
    inset 0 -90px 0 #999,
    inset 0 -100px 0 #e5e5e5,
    inset 0 -110px 0 #999,
    inset 0 -120px 0 #e5e5e5,
    inset 0 -130px 0 #999,
    inset 0 -140px 0 #e5e5e5,
    inset 0 -150px 0 #b0b0b0,
    inset 0 -160px 0 #eee,
    inset 0 -170px 0 #b0b0b0,
    inset 0 -180px 0 #eee,
    inset 0 -190px 0 #b0b0b0,
    inset 0 -200px 0 #eee,
    inset 0 -210px 0 #b0b0b0,
    inset 0 -220px 0 #ff0083,
    inset 0 -230px 0 #999,
    inset 0 -240px 0 #ff0083,
    inset 0 -250px 0 #999;
}

.bp-content {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 170px;
  background: #eee;
}

.bp-airline {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Arial;
  font-size: 20px;
  color: #fff;
}

.bp-airline--slip {
  left: 455px;
}

.bp-boarding {
  position: absolute;
  top: 10px;
  right: 220px;
  font-family: Arial;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}

.bp-jfk {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: Arial;
  font-size: 38px;
  color: #222;
}

.bp-jfk--slip {
  font-size: 30px;
  top: 20px;
  left: 410px;
}

.bp-sfo {
  position: absolute;
  top: 10px;
  left: 180px;
  font-family: Arial;
  font-size: 38px;
  color: #222;
}

.bp-sfo--slip {
  font-size: 30px;
  top: 20px;
  left: 530px;
}

.bp-plane {
  position: absolute;
  left: 105px;
  top: 0;
}

.bp-plane--slip {
  top: 10px;
  left: 475px;
}

.bp-sub-content {
  background: #e5e5e5;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 70px;
}

.bp-watermark {
  position: absolute;
  left: 5px;
  top: -10px;
  font-family: Arial;
  font-size: 110px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
}

.bp-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'Arial Narrow', Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.bp-name span {
  color: #555;
  font-size: 17px;
}

.bp-name--slip {
  top: 60px;
  left: 410px;
}

.bp-flight {
  position: absolute;
  top: 10px;
  left: 180px;
  font-family: 'Arial Narrow', Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.bp-flight span {
  color: #555;
  font-size: 17px;
}

.bp-flight--slip {
  left: 410px;
}

.bp-gate {
  position: absolute;
  top: 10px;
  left: 280px;
  font-family: 'Arial Narrow', Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.bp-gate span {
  color: #555;
  font-size: 17px;
}

.bp-seat {
  position: absolute;
  top: 10px;
  left: 350px;
  font-family: 'Arial Narrow', Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.bp-seat span {
  color: #555;
  font-size: 17px;
}

.bp-seat--slip {
  left: 540px;
}

.bp-boardingtime {
  position: absolute;
  top: 60px;
  left: 10px;
  font-family: 'Arial Narrow', Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.bp-boardingtime span {
  color: #555;
  font-size: 17px;
}
